

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $unit;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;

    .input-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        .input-error {
            display: flex;
            flex-wrap: wrap;
            padding: 3px 6px;
            background: $red;
            border-radius: 0px 0px 6px 6px;
            width: 100%;

            @include small($color: $white);
        }
    }
}