@import '@/styles/abstracts/mixins';

#header {
    width: 100%;
    height: 4 * $unit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    background: $white;
    outline: 1px solid $gray;

    @include shadow;

    a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        text-decoration-line: none;
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .user-menu {
        height: 100%;        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $unit;
        user-select: none;
    }
}