@import '@/styles/abstracts/mixins';

#last-notes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20 * $unit;

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.0 * $unit;
    }
}