@import '@/styles/abstracts/mixins';

.notes.topics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;
        background: transparent;
        outline: none;
        box-shadow: none;        
        padding: 0px;
    }
}
