@import '@/styles/abstracts/mixins';

#title-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 84px;
    width: 100%;
    padding: $unit (2 * $unit) 0px;
    gap: 2 * $unit;
}