@import '@/styles/abstracts/mixins';

.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 2 * $unit;
    
    position: absolute;
    left: auto;
    top: 80%;
    width: 50 * $unit;
    min-height: 4 * $unit;
    padding: $unit;
    border-radius: 12px;
    background: $white;
    border: 1px solid $secondary-200;
    box-sizing: border-box;

    @include shadow;

    h1, h2, h3, h4, h5, p, small {
        flex-grow: 1;
    }

    .fa-question {
        color: $secondary-700;
    }
}