@import '@/styles/abstracts/mixins';

.audio-playlist {
    .playing {
        background-color: $primary-300;
        @include shadow;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
}