@import '@/styles/abstracts/mixins';

.audio-recorder {
    $width-units: 25;
    $height-units: 25;
    $stroke-width: 3px;
    $stroke-dasharray: $unit;
    $stroke-color: "%239C9C9C";

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
    width: 25 * $unit;
    height: 25 * $unit;
    gap: $unit;

    background-image: url("data:image/svg+xml,%3csvg width='100%#{$width-units}' height='100%#{$height-units}' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%#{$width-units}' height='100%#{$height-units}' fill='none' rx='6' ry='6' stroke='#{$stroke-color}' stroke-width='#{$stroke-width}' stroke-dasharray='#{$stroke-dasharray}' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 6px;

    .small-button {
        width: 3 * $unit;
        height: 3 * $unit;
        border-radius: 50%;
        z-index: 1;
        @include shadow;
    }

    .medium-button {
        width: 6 * $unit;
        height: 6 * $unit;
        border-radius: 50%;
        z-index: 1;
        @include shadow;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 6px;
    }

    .audio-out {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-start;
        width: inherit;
        padding: 0px 12px;
        gap: 6px;
    }

    .blank {
        width: 3 * $unit;
        height: 3 * $unit;
    }
}