@import '@/styles/abstracts/mixins';

.audio-player {
    $stroke-width: 3px;
    $stroke-dasharray: $unit;
    $stroke-color: "%23949494";

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 12px;
    width: 25 * $unit;
    min-height: fit-content;
    gap: $unit;

    background-image: url("data:image/svg+xml,%3csvg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%' height='100%' fill='none' rx='6' ry='6' stroke='#{$stroke-color}' stroke-width='#{$stroke-width}' stroke-dasharray='#{$stroke-dasharray}' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 6px;

    h1, h2, h3, h4, h5, p, small, i, span {
        user-select: none;
    }

    .fa-play {
        margin-left: 20%;
    }

    .small-button {
        width: 3 * $unit;
        height: 3 * $unit;
        border-radius: 50%;
        @include shadow;
    }

    .medium-button {
        width: 6 * $unit;
        height: 6 * $unit;
        border-radius: 50%;
        @include shadow;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 6px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $unit;
    }

    .volume-controler {
        cursor: pointer;
        height: fit-content;

        .transparent {
            width: 24px;
            
            i {
                font-size: 24px;
                color: $gray-700;
            }

            &:disabled {
                i {
                    color: $light-border;
                }
            }
        }

        &:hover {
            .volume-bar-container {
                display: inline-block;
            }
        }

        .volume-bar-container {
            display: none;
            width: 5px;
            height: 100px + 6px;

            input[type=range] { 
                width: 100px;
                height: 5px;
                position: relative;
                left: -50px + 12px;
                top: 50px - 6px;
                margin: 0px;
                transform: rotate(-90deg);
                cursor: pointer;

                background: $gray-700;
                border-radius: 5px;

                background-image: linear-gradient($gray-400, $gray-400);
                background-size: 70% 100%;
                background-repeat: no-repeat;

                &:hover {
                    background-image: linear-gradient($primary, $primary);
                }

                &:disabled {
                    display: none;
                }

                @mixin thumb {
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background: $primary;
                    border: none;
                    box-shadow: 0 0 2px 1px $gray;
                }

                &::-webkit-slider-thumb {
                    @include thumb;
                }

                &::-moz-range-thumb {
                    @include thumb;
                }

                &::-ms-thumb {
                    @include thumb;
                }

                @mixin track {
                    background: none;
                }

                &::-webkit-slider-runnable-track {
                    @include track;
                }

                &::-moz-range-track {
                    @include track;
                }

                &::-ms-track {
                    @include track;
                }
            }
        }
    }

    .timeline {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        width: 100%;
        overflow: visible;
        user-select: none;

        h1, h2, h3, h4, h5, p, small, i, span {
            min-width: fit-content;
            color: $gray-700;
        }

        .background-line {
            stroke: $gray-700;
            cursor: pointer;
        }

        .foreground-line {
            stroke: $gray-400;
            cursor: pointer;
        }
            
        .pin {
            display: none;
            cursor: pointer;
        }
        
        &:hover {
            .foreground-line {
                stroke: $primary;
            }
                
            .pin {
                display: inline-block;
                fill: $primary;
            }
        }
    }

    .timeline.disabled {
        .background-line {
            cursor: default;
        }

        .foreground-line {
            cursor: default;
        }

        .pin {
            cursor: default;
        }

        &:hover {
            .foreground-line {
                stroke: $gray-400;
            }
                
            .pin {
                display: none;
            }
        }
    }
}