@import '@/styles/abstracts/mixins';

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.0 * $unit;
    height: 3.0 * $unit;
    border-radius: 50%;
    overflow: hidden;
    outline: 2px solid $secondary-200;

    @include glow($color: $secondary-200, $blur: 5px, $spread: 3px);

    img {
        width: auto;
        height: 100%;
    }

    i {
        width: stretch;
        height: stretch;
        font-size: 3 * $unit;
        color: $secondary-200;
    }
  }