@import '@/styles/abstracts/mixins';

input[type='checkbox'] {
    background: none;
    width: 1 * $unit;
    height: 1 * $unit;
    outline: 3px solid $strong-border;
    box-sizing: border-box;
    border-radius: 1px;
    transition: 0.4s ease-in-out;

    @extend %fa-icon;
    @extend .fas;

    &:hover {
        outline: 3px solid $primary;
    }

    &:checked {
        outline: 3px solid $primary;
    }

    &:checked::before {
        position: absolute;
        font-size: 1 * $unit;
        content: fa-content($fa-var-check);
    }

    &:indeterminate {
        outline: 3px solid $primary;
    }

    &:indeterminate::before {
        position: absolute;
        width: inherit;
        text-align: center;
        font-size: $unit;
        content: fa-content($fa-var-minus);
    }

    &:disabled {
        outline: 3px solid $light-border;
        cursor: not-allowed;
    }


    &.blue {
        &:hover {
            outline: 3px solid $secondary;
        }
    
        &:checked {
            outline: 3px solid $secondary;
        }

        &:indeterminate {
            outline: 3px solid $secondary;
        }
    }
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 12px;
}