@import '@/styles/abstracts/mixins';

.file-uploader {
    $width-units: 25;
    $height-units: 25;
    $stroke-width: 3px;
    $stroke-dasharray: $unit;
    $stroke-color: "%239C9C9C";

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2 * $unit;
    box-sizing: border-box;
    width: $width-units * $unit;
    height: $height-units * $unit;
    padding: $unit;

    background-image: url("data:image/svg+xml,%3csvg width='100%#{$width-units}' height='100%#{$height-units}' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%#{$width-units}' height='100%#{$height-units}' fill='none' rx='6' ry='6' stroke='#{$stroke-color}' stroke-width='#{$stroke-width}' stroke-dasharray='#{$stroke-dasharray}' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 6px;

    h1, h2, h3, h4, h5, i {
        color: $gray;
    }

    input[type="file"] {
        display: none;
    }

    .file-input-label {
        h1, h2, h3, h4, h5, p, small, i, span {
            color: $primary-850;
        }
    }
}

