@import '@/styles/abstracts/mixins';

input[type='text'], 
input[type='date'], 
input[type='datetime-local'], 
input[type='email'], 
input[type='month'], 
input[type='number'], 
input[type='password'], 
input[type='search'], 
input[type='tel'], 
input[type='time'], 
input[type='url'],
input[type='week'] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0.5 * $unit;
    height: 2 * $unit;
    width: 100%;
    border-radius: 3px;
    background: $white;
    mix-blend-mode: normal;
    box-sizing: border-box;
    outline: 2px solid $strong-border;
    border: none;
    transition: 0.4s ease-in-out;

    @include p($color: $black);
    text-align: left;

    &:focus {
        outline: none;
        outline: 2px solid $primary-600;

        @include glow($color: $primary, $blur: 5px, $spread: 3px);
    }

    &:disabled {
        outline: 2px solid $light-border;
        cursor: not-allowed;
        color: $gray;
    }

    &::-webkit-input-placeholder { /* Edge */
        color: $black;
    }
      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $black;
    }
      
    &::placeholder {
        color: $black;
    }

    &.error {
        outline: 2px solid $red;
        box-shadow: none;
        border-radius: 6px 6px 0px 0px;
    }
}