@import '@/styles/abstracts/mixins';

.last-notes.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.0 * $unit;
    gap: 1.0 * $unit;
    width: 100%;
    background-color: aquamarine;

    button {
        padding: 0px;
    }

    i {
        color: $primary-800;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 1.0 * $unit;

        .info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .topic {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: 6px;    
            }
        }
    }
}