@import '@/styles/abstracts/mixins';

.link-form {
    $width-units: 25;
    $height-units: 25;
    $stroke-width: 3px;
    $stroke-dasharray: $unit;
    $stroke-color: "%239C9C9C";

    width: 25 * $unit;
    height: auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    background-image: url("data:image/svg+xml,%3csvg width='100%#{$width-units}' height='100%#{$height-units}' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%#{$width-units}' height='100%#{$height-units}' fill='none' rx='6' ry='6' stroke='#{$stroke-color}' stroke-width='#{$stroke-width}' stroke-dasharray='#{$stroke-dasharray}' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 6px;

}