@import '@/styles/abstracts/mixins';

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .item {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;

        > i {
            color: $black;
        }

        &:hover {
            background-color: $primary-300;
        }
    }

}