@import '@/styles/abstracts/mixins';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    height: 100%;

    li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 12px;
        height: inherit;

        &:hover {
            background-color: $secondary-50;
        }
    }
    
    a {
        text-decoration-line: none;
    }
    
    h1, h2, h3, h4, h5, p, small {
        margin-top: 12px;
        font-family: "Bebas Neue";
        color: $secondary-700;
        font-weight: 900;
    }
}