@import '@/styles/abstracts/mixins';

.notes.topic-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    width: (23 * $unit);
    height: (8 * $unit);
    padding: 0.5 * $unit;
    background-color: $secondary-400;
    border-radius: 0px 3px 3px 0px;
    transition: width 1s;

    @include shadow;

    h1, h2, h3, h4, h5, p, small {
        color: $white;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    .options {
        padding: 0px;
        i {
            color: $white;
        }
    }

    .title {
        width: 100%;
        flex: flex-grow;
        display: flex;
        flex-direction: row;
        justify-content: center;

        h1, h2, h3, h4, h5, p, small {
            color: $white;
        }
    }

    &.selected {
        width: (25 * $unit);
        background-color: $secondary-600;
    }
}