@import '@/styles/abstracts/mixins';

.notes-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25 * $unit;
    height: 22 * $unit;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 6px;
    overflow: hidden;

    @include shadow;
    @extend %fa-icon;
    @extend .fas;    

    h1, h2, h3, h4, h5, i, span {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        height: 36px;
        width: 100%;
        padding: 6px 12px;
        outline: 1px solid $border;
        border-radius: 6px 6px 0px 0px;

        .name {
            width: 100%;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        padding: 12px;
        border-radius: 0px 0px 6px 6px;
        background-color: $secondary-700;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;

        h1, h2, h3, h4, h5, p, small, i, span {
            color: $white;
        }

        &.text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow: hidden;
            text-align: left;
        }

        &.image {
            overflow: hidden;
            padding: 0px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.video {
            overflow: hidden;
            padding: 0px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                position: absolute;
                width: inherit;
                text-align: center;
                font-size: 3em;
                content: fa-content($fa-var-play);
                color: $white;
                @include text-shadow($blur: 2px, $spread: 3px);
            }
        }

        &.links {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow: hidden;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                gap: 12px;
            }
        }
    }
}

.notes-card.selected {
    @include glow($color: $secondary, $blur: 9px, $spread: 6px);
}