@use "sass:math";

@import '@/styles/abstracts/mixins';

input[type='radio'] {
    background: none;
    width: $unit;
    height: $unit;
    outline: 3px solid $strong-border;
    box-sizing: border-box;
    border-radius: 50%;
    transition: 0.4s ease-in-out;

    &:hover {
        outline: 3px solid $primary;
    }

    &:checked {
        outline: 3px solid $primary;
    }

    &:checked::before {
        position: absolute;
        margin-left: 2px;
        margin-top: 2px;
        width: 8px;
        height: 8px;
        background-color: $primary;
        border-radius: 50%;
        content: "";
    }

    &:disabled {
        outline: 3px solid $light-border;
        cursor: not-allowed;
    }
}