@use "sass:list";

@import '@/styles/abstracts/mixins';

.ribbon {
    width: 2 * $unit;
    height: 4 * $unit;
    padding-top: 1px;

    &:after { 
        @include ribbon($width: 2 * $unit, $height: 4 * $unit, $color: $gray-100); 
    }

    &.sm {
        width: 1 * $unit;
        height: 2 * $unit;

        &:after { 
            @include ribbon($width: 1 * $unit, $height: 2 * $unit); 
        }
   }

    &.lg {
        width: 2 * $unit;
        height: 6 * $unit;

        &:after { 
            @include ribbon($width: 2 * $unit, $height: 6 * $unit); 
        }
    }

    @for $i from 1 through list.length($label-colors) {    
        &.label-#{$i} {
            &:after { 
                @include ribbon($color: list.nth($label-colors, $i)); 
            }
        }
    }
}