@use "sass:list";

@import '@/styles/abstracts/mixins';

.select {
    display: grid;
    height: 2 * $unit;
    width: 100%;
    min-width: 17 * $unit;
    background-color: $white;
    cursor: pointer;
    box-sizing: border-box;
    grid-template-areas: "select";
    overflow: visible;

    @extend %fa-icon;
    @extend .fas;

    p, h1, h2, h3, h4, h5, small, span {
        user-select: none;
    }

    .select-input {
        outline: 2px solid $strong-border;
        padding: 0 0.5 * $unit;
        border-radius: 3px;
        grid-area: select;
    }

    .hint {
        p, h1, h2, h3, h4, h5, small {
            color: $gray-600;
        }
    }

    &::after {
        display: flex;
        flex-direction: row;
        align-items: center;

        content: fa-content($fa-var-caret-down);
        color: $strong-border;
        justify-self: end;
        margin-right: 3px;
        grid-area: select;
        pointer-events: none;
    }

    &:hover {
        .select-input {
            outline: 2px solid $primary;
            border-radius: 3px;    
        }
    }
}

.select.disabled {
    p, h1, h2, h3, h4, h5, small {
        color: $light-border;
    }

    .select-input {
        outline: 2px solid $light-border;
        border-radius: 3px;
        cursor: not-allowed;    
    }

    &:hover {
        background-color: transparent;
    }

    &::after {
        color: $light-border;
    }
}

.select.secondary {
    .select-input {
        outline: none;
        grid-area: select;

        &:hover {
            outline: none;
            background-color: $primary;
            border-radius: 3px;
        }

    }
}

.select.labels {

    .select-input {
        outline: 2px solid $gray;
        background-color: $gray;
        grid-area: select;

        h1, h2, h3, h4, h5, p, small, span {
            color: $white;
        }

        &:hover {
            @include glow($color: $gray, $blur: 5px, $spread: 3px)
        }    
    }

    &::after {
        color: $white;
    }

    @for $i from 1 through list.length($label-colors) {
        $label-color: list.nth($label-colors, $i);

        &.label-#{$i} {

            .select-input {
                outline: 2px solid $label-color;
                background-color: $label-color;
                grid-area: select;
        
                &:hover {
                    @include glow($color: $label-color, $blur: 5px, $spread: 3px)
                }
            }
        }
    }
}

.option {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: (2 * $unit);
    width: 100%;
    gap: 6px;
    
    * {
        padding: 0px 6px;
    }
}

.option-list {
    display: flex;
    flex-direction: column;
    height: fit-content;

    z-index: 10;
    width: 100%;
    max-height: 20 * $unit;
    overflow-y: auto;
    background: $white;
    outline: 1px solid $border;

    @include shadow;

    .option {
        width: 100%;
        height: (2.5 * $unit);
        padding: 6px 6px;

        &:hover {
            color: $primary-contrast;
            background: $primary;
            width: 100%;
            cursor: pointer;
        }
    }
}
