@import '@/styles/abstracts/mixins';

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 24px;
    overflow: visible;

    input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $gray;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 36px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 6px;
        bottom: 6px;
        background-color: $white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: $primary;
    }

    input:hover + .slider {
        @include glow($color: $primary, $blur: 3px, $spread: 1px);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
    }

    &.blue {
        input:checked + .slider {
            background-color: $secondary;
        }
    
        input:hover + .slider {
            @include glow($color: $secondary-600, $blur: 3px, $spread: 1px);
        }
    }

    input:disabled + .slider {
        background-color: $gray-200;

        &:hover {
            box-shadow: none;    
        }
    }
}