@import '@/styles/abstracts/mixins';

table {
    border-collapse: collapse;
    width: 100%;
    
    td {
        padding: 12px 6px;
    }

    th {
        padding: 6px;
        text-align: left;
    }

    tbody > tr:hover {
        background-color: $primary-300;
    }

    thead {
        background-color: $primary;
        z-index: 9;

        @include shadow;

        h1, h2, h3, h4, h5, small, p, span {
            color: $primary-contrast;
        }
    }

    .selected {
        background-color: $primary-300;
    }

    .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}