@import '@/styles/abstracts/mixins';

.topic-card {
    height: fit-content;
    width: 25 * $unit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    .header {
        height: 3 * $unit;
        width: 100%;
        padding: 0px 6px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: $primary;

        @include shadow;

        h1, h2, h3, h4, h5, span, p, small {
            text-align: center;
        }

        &.edit {
            height: fit-content;
            background-color: transparent;
            box-shadow: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;

            .input-row {
                width: 100%;
            }
        }
    }

    .content {
        display: block;
        height: 21 * $unit; // 252
        width: 21 * $unit;
        overflow: visible;

        .fa-circle {
            animation-name: c314f843-f06f-4e55-8472-ba098381cad2;
            animation-duration: 2s;

            @keyframes c314f843-f06f-4e55-8472-ba098381cad2 {
                from {
                    font-size: 0;
                    opacity: 0;
                }
            }
        }

        h1, h2, h3, h4, h5, span, p, small {
            position: absolute;
            height: 21 * $unit;
            width: 21 * $unit;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;
            color: $white;
            user-select: none;
        }

        i {
            position: absolute;
            height: 21 * $unit;
            width: 21 * $unit;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 0;

            @include text-shadow($blur: 4px, $spread: 6px);
        }

    }
}