
$black: #1B1B1B !default;
$white: #FFFFFF !default;
$red: #FF5050 !default;
$yellow: #FEC600 !default;
$background: #FFFFFF !default;

$strong-border: #4A4A4A !default;
$border: #9C9C9C !default;
$light-border: #BDBDBD !default;

$primary: #FFC00E !default;
$primary-contrast: #553F00 !default;
$primary-900: #553F00 !default;
$primary-850: #6C5000 !default;
$primary-800: #836100 !default;
$primary-750: #9A7200 !default;
$primary-700: #B18300 !default;
$primary-600: #DFA500 !default;
$primary-500: $primary !default;
$primary-400: #FFCB37 !default;
$primary-300: #FFD560 !default;
$primary-200: #FFE088 !default;
$primary-150: #FFE59D !default;
$primary-100: #FFEBB1 !default;
$primary-50: #FFF0C6 !default;

$secondary: #405580 !default;
$secondary-contrast: #FFFFFF !default;
$secondary-900: #030406 !default;
$secondary-850: #0A0E15 !default;
$secondary-800: #121824 !default;
$secondary-750: #1A2234 !default;
$secondary-700: #212C43 !default;
$secondary-600: #314161 !default;
$secondary-500: $secondary !default;
$secondary-400: #4E679B !default;
$secondary-300: #617BB0 !default;
$secondary-200: #7D92BE !default;
$secondary-150: #8A9DC5 !default;
$secondary-100: #98A9CB !default;
$secondary-50: #A5B4D2 !default;

$gray: #808080 !default;
$gray-900: #242424 !default;
$gray-850: #303030 !default;
$gray-800: #3B3B3B !default;
$gray-750: #474747 !default;
$gray-700: #525252 !default;
$gray-600: #696969 !default;
$gray-500: $gray !default;
$gray-400: #949494 !default;
$gray-300: #A9A9A9 !default;
$gray-200: #BDBDBD !default;
$gray-150: #C7C7C7 !default;
$gray-100: #D2D2D2 !default;
$gray-50: #DCDCDC !default;

$label-1: #FF4D4D !default;
$label-2: #FF944D !default;
$label-3: #FFDB4D !default;
$label-4: #DBFF4D !default;
$label-5: #94FF4D !default;
$label-6: #4DFF4D !default;
$label-7: #4DFF94 !default;
$label-8: #4DFFDB !default;
$label-9: #4DDBFF !default;
$label-10: #4D94FF !default;
$label-11: #4D4DFF !default;
$label-12: #944DFF !default;
$label-13: #DB4DFF !default;
$label-14: #FF4D94 !default;

$label-colors: darken($label-1, 40%), darken($label-2, 40%), darken($label-3, 40%),  darken($label-4, 40%),
    darken($label-5, 40%), darken($label-6, 40%), darken($label-7, 40%), darken($label-8, 40%),
    darken($label-9, 40%), darken($label-10, 40%), darken($label-11, 40%), darken($label-12, 40%),  
    darken($label-13, 40%), darken($label-14, 40%);
