@mixin h1($color: null) {
    font-family: "Archivo Black";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: -0.03em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    max-width: 100%;

    color: $color;
}

@mixin h2($color: null) {
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    max-width: 100%;

    color: $color;
}

@mixin h3($color: null) {
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    max-width: 100%;
    
    color: $color;
}

@mixin h4($color: null) {
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    max-width: 100%;

    color: $color;
}

@mixin h5($color: null) {
    font-family: "Archivo Narrow";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    max-width: 100%;

    color: $color;
}

@mixin p($color: null) {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    max-width: 100%;
    
    color: $color;
}

@mixin small($color: null) {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    max-width: 100%;

    color: $color;
}

@mixin glow($color: null, $blur: null, $spread: null) {
    box-shadow: 0px 0px $blur $spread $color;
}

@mixin shadow {
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.5);
}

@mixin text-shadow($blur: null, $spread: null) {
    text-shadow: -2px $blur $spread rgba(0, 0, 0, 0.5);
}

@mixin inner-shadow {
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

@mixin ribbon($width: null, $height: null, $color: null) {
    display:block;
    position: relative;
    font-family: 'Custom icons';
    content: "\e001";
    @include text-shadow($blur: 2px, $spread: 3px);

    color: $color;
    font-size: $width;
    top: (($height - $width) / 2);
    transform: scaleY($height / $width);
}
