@import "@/styles/vendors/fontawesome/scss/fontawesome.scss";
@import "@/styles/vendors/fontawesome/scss/solid.scss";

@import '@/styles/base/reset';
@import '@/styles/base/fonts';

@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/functions';
@import '@/styles/abstracts/mixins';
@import '@/styles/abstracts/placeholders';

@import '@/styles/layout/header';
@import '@/styles/layout/form';
@import '@/styles/layout/title-menu';
@import '@/styles/layout/notes-topic-card-list';
@import '@/styles/layout/notes-topics';
@import '@/styles/layout/last-notes';

@import '@/styles/components/buttons';
@import '@/styles/components/inputs';
@import '@/styles/components/checkbox';
@import '@/styles/components/tables';
@import '@/styles/components/switch';
@import '@/styles/components/radio';
@import '@/styles/components/select';
@import '@/styles/components/alert';
@import '@/styles/components/ribbon';
@import '@/styles/components/avatar';
@import '@/styles/components/logo';
@import '@/styles/components/icon';
@import '@/styles/components/navbar';
@import '@/styles/components/list';
@import '@/styles/components/notes-topic-card';
@import '@/styles/components/last-notes-card';
@import '@/styles/components/notes-card';
@import '@/styles/components/file-uploader';
@import '@/styles/components/audio-recorder';
@import '@/styles/components/audio-player';
@import '@/styles/components/audio-playlist';
@import '@/styles/components/link-form';
@import '@/styles/components/topic-card';

@import '@/styles/features/login';

@import '@/styles/themes/default';

@font-face {
    $icons-path: '../assets/icons/webfonts/';
    font-family: 'Custom icons';
    font-weight: 900;
    font-display: block;    
    src: url($icons-path + 'custom-icons.eot'); /* IE9 Compat Modes */
    src: url($icons-path + 'custom-icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($icons-path + 'custom-icons.woff2') format('woff2'), /* Super Modern Browsers */
         url($icons-path + 'custom-icons.woff') format('woff'), /* Pretty Modern Browsers */
         url($icons-path + 'custom-icons.ttf')  format('truetype'), /* Safari, Android, iOS */
         url($icons-path + 'custom-icons.svg#customicons') format('svg'); /* Legacy iOS */
}

i.fab, i.fas, i.far, i.fal, i.fad {
    color: $black;
    min-width: 1rem;    
}

.grow {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.invisible {
    opacity: 0.0;
}

a {
    color: $black;
}

h1 { 
    @include h1($color: $black);

    &.underline {
        text-decoration-line: underline;
    }
}

h2 { 
    @include h2($color: $black);
    
    &.underline {
        text-decoration-line: underline;
    }
}

h3 { 
    @include h3($color: $black);

    &.underline {
        text-decoration-line: underline;
    }
}

h4 { 
    @include h4($color: $black);

    &.underline {
        text-decoration-line: underline;
    }
}

h5 { 
    @include h5($color: $black);

    &.underline {
        text-decoration-line: underline;
    }
}

p { 
    @include p($color: $black);

    &.underline {
        text-decoration-line: underline;
    }
}

small { 
    @include small($color: $black);

    &.underline {
        text-decoration-line: underline;
    }
}

label {
    @include h4($color: $black);
    text-align: left;
}

.glow {
    @include glow($color: $primary, $blur: 3px, $spread: 3px);
}

.shadow {
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.5);
}

.text-shadow {
    text-shadow: -2px 4px 3px rgba(0, 0, 0, 0.5);
}

.inner-shadow {
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}