@import '@/styles/abstracts/mixins';

#login {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: $white;
    width: 100vw;
    height: 100vh;

    .background-image {
        width: 38.22vw;
        height: 100vh;
        background-image: url("../../assets/images/pexels-andrea-piacquadio-3758105.jpg");
        background-size: cover;
        background-position: center;
    }

    .login-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 24px;

        width: 30 * $unit;
        height: 50 * $unit;

        .input-row {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }
}